# Servidor de Monitoramento (Health)
PORT=3000

# Executar post de teste ao iniciar o sistema?
# Útil apenas para testar a primeira vez se tudo está funcionando
TEST_ON_START=true

# Outras variáveis que serão necessárias no futuro:
# FB_PAGE_ID=
# FB_ACCESS_TOKEN=
# OPENAI_API_KEY=
# MIDJOURNEY_API_KEY=
